/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

@font-face {
    font-family: hearthstone;
    src: url(../fonts/OPTIBelwe-Medium.otf);
}

html {
    background: rgba(0, 0, 0, 0) url("../images-cap/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: white;
    font-family: hearthstone, sans-serif;
}


/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

header {
    text-align: center
}

.website-logo {
    width: 33%
}

img {
    position: relative;
}

p{
    position: relative;
}
/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

section,
footer {
    width: 40%;
    text-align: center;
    margin: 1rem auto;
    background-image: url("../images-cap/transparent.jpg");
    border-radius: 0.5rem;
    padding: 2rem;
}

section .formGroup {
    display: block;
    margin: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid lightgray;*/
}

section .formGroup:last-child {
    border: none;
}

section label,
section select {
    display: inline-block;
}

section label {    
        width: 100%;    
        text-align: center;    
        margin-bottom: 20px; }

section select {
    float: none;
    cursor: pointer;
    background-color: lightgray;
    border-color: darkgray;
    border-radius: 4px;
    border-style: none;
    color: black;
    font-size: 1rem;
    padding: 0.1rem;
    background-color: #5574BD;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: 100%;
}

section select-content {
    display: none;
    position: absolute;
    background-color: #5574BD;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

section select-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}

section select-content a:hover {background-color: #f1f1f1}

section select:hover .dropdown-content {
    display: block;
}

section select:hover .dropbtn {
    background-color: #3e8e41;
}


section .buttonWrapper {
    text-align: right;
}

/*section button {*/
/*    background-color: lightgray;*/
/*    border-color: darkgray;*/
/*    border-radius: 4px;*/
/*    border-style: none;*/
/*    color: gray;*/
/*    font-size: 1.125rem;*/
/*    padding: 0.5rem;*/
/*    text-shadow: none;*/
/*    width: 30%;*/
/*    cursor: pointer;*/
/*}*/

section button {
  display: block;
  border-radius: 4px;
  background-color: #5574BD;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: -10px 35px auto auto;
}

section button:hover {
    background-color: #061539;
}

/*section button span {*/
/*  cursor: pointer;*/
/*  display: inline-block;*/
/*  position: relative;*/
/*  transition: 0.5s;*/
/*}*/

/*section button span:after {*/
/*  content: '\00bb';*/
/*  position: absolute;*/
/*  opacity: 0;*/
/*  top: 0;*/
/*  right: -20px;*/
/*  transition: 0.5s;*/
/*}*/

/*submitButton:hover span {*/
/*  padding-right: 25px;*/
/*}*/

/*submitButton:hover span:after {*/
/*  opacity: 1;*/
/*  right: 0;*/
/*}*/

section #output {
    list-style: none;
}

section #output li {
    /*
    display: inline-block;
width: 24%;
*/
    display: inline-block;
}
section #output .spin-image {
    text-align: center;
    width: 100%;
    display: block;
}

section #output .spin-image img {
    width: 30px;
    height: 30px;
    
    margin: 0 auto;
}

section #output li ul {
    margin-left: 1.5%;
    border-bottom: 1px solid white;
    display: inline-block;
    width: 100%;
    padding: 3%;
    line-height: 1.6;
    margin-bottom: 20px;
}

section #output li h4 {
    margin-top: 2%;
    font-size: 2rem;
    border-bottom: 1px solid white;
}

section #output li .image-card {
    width: 100%;
}

section #output li .card-specs {
    /*min-height: 150px;*/
}



/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

.social {
    max-width: 2rem;
    height: 2rem;
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
}

.fa-4x {
    max-height: 2rem;
    max-width: 2rem;
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/
